---
import SEO from '~/components/SEO.astro'
import '~/styles/global.css'

type Props = {
  title?: string
  description?: string
  image?: string
  keywords?: string[]
}

const { title, description, image, keywords } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      keywords={keywords}
    />
  </head>
  <body class="min-h-screen min-w-80 antialiased">
    <slot />
  </body>
</html>
